<div class="container" *ngIf="pedido.usuario != null && detallepedido !=null">
    <h4>Detalle del Pedido #</h4>
    <form [formGroup]="detallePedidoForm" class="">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>ID</label>
                    <h4>{{pedido.idpedido}}</h4>
                </div>
                <div class="form-group">
                    <label>Cliente: </label>
                    <h4>{{pedido.usuario.nombres}}</h4>
                </div>
                <div class="form-group">
                    <label>Distrito</label>
                    <h4>{{pedido.usuario.distrito}}</h4>
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <h4>{{pedido.usuario.direccion}}</h4>
                    
                </div>
                
            </div>
            <div formGroupName="items" class="col-sm-8 mt-4">
                <table class="table table-bordered table-hover text-center" >
                    <thead class="thead-dark">
                        <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dp of detallepedido" >
                            <!-- <th scope="row">1</th> -->
                            <td>
                                <span>{{dp.producto.nombre}}</span>
                            <td>
                                <span>{{dp.cantidad}}</span>
                            </td>
                            <td>
                                <span> S/. {{dp.producto.precio}}</span>
                            </td>
                            <td><a href="#">Modificar</a> <a href="#" style="color: red;">Eliminar</a> <a href="#"></a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Total a cobrar </td>
                            <td colspan="1">S/. {{pedido.total}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
             <!-- <div>
                    Datos del formulario: {{ detallePedidoForm.value | json }}
                    Formulario Valido? {{ detallePedidoForm.valid }}
                </div>
            -->
                
        </div>
        <div class="row justify-content-center">
            <div class="form-group">
                <div class="row">
                    <button class="btn btn-info mr-2">
                        Agregar Producto
                    </button>
                    
                    <button  class="btn btn-info mr-2" >
                        Actualizar Pedido
                    </button>
                    <button (click)="__Regresar()" class="btn btn-primary" >
                        Volver
                    </button>
                </div>
                
            </div>
        </div>
    </form>
    
</div>


