<div class="container" *ngIf="pedidos != null">
    <h4>Lista de Pedidos!</h4>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Cliente</th>
              <th scope="col">Distrito</th>
              <th scope="col">Dirección</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            
              <tr *ngFor="let p of pedidos ">
                
                <!-- <th scope="row">{{pedidos.length}}</th> -->
                <td>{{p.usuario.nombres}}</td>
                <td>{{p.usuario.distrito}}</td>
                <td>{{p.usuario.direccion}}</td>
                <td><a class="link-secondary" routerLink="../detallePedido/{{p.idpedido}}/{{p.idusuario}}" style="color: blue;">
                  {{p.estado}}
                  </a>
                </td>
              </tr>
            
          </tbody>
    </table>
</div>

