<div class="container" >
    <h4>Lista de Pedidos!</h4>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Distrito</th>
              <th scope="col">Dirección</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><a class="link-secondary" routerLink="../detallePedido" style="color: blue;">Pendiente</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td><a class="link-secondary" routerLink="../detallePedido" style="color: blue;">Pendiente</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
              <td>Cesar</td>
              <td>Oxford</td>
              <td>@twitter</td>
              <td><a class="link-secondary" routerLink="../detallePedido" style="color: blue;">Pendiente</a></td>
              
            </tr>
          </tbody>
    </table>
</div>

