<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Mi Pedido</h2>
            </div>
        </div>
        <table class="table table-bordered table-hover" *ngIf="carrito[0] != null">
            <thead class="thead-dark">
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of carrito">
                    <td>{{ p.cantidad }}</td>
                    <td>{{ p.nombre }}</td>
                    <td class="text-right">S/ {{ p.monto }}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div class="row col-lg-12 d-flex justify-content-end">
            <button routerLink="/clientePago" class="btn btn-success">Pagar</button>
        </div>
    </div>
    
</section>