<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Mi Pedido</h2>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1/4 de Pollo + Ensalada + Papas</td>
                    <td class="text-right">S/ 20.00</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pollo saltado + Chicha</td>
                    <td class="text-right">S/ 60.00</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Saltado de Pollo</td>
                    <td class="text-right">S/ 24.00</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td class="text-right">S/ 104.00</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div class="row col-lg-12 d-flex justify-content-end">
            <button routerLink="/clientePago" class="btn btn-success">Pagar</button>
        </div>
    </div>
    
</section>