<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Nuestros productos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/productos/combopersonal.png">
                </a>
                <div class="portfolio-caption">
                    <h4>Combo Personal</h4>
                    <p class="text-center text-muted">1/4 de Pollo + Ensalada + Papas</p>
                    <button type="button" class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/productos/combofamiliar.png">
                </a>
                <div class="portfolio-caption">
                    <h4>Combo Familiar</h4>
                    <p class="text-center text-muted">1 Pollo + Ensalada Familiar + Papas</p>
                    <button type="button" class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/productos/pollosaltado.jpg">
                </a>
                <div class="portfolio-caption">
                    <h4>Saltado de Pollo</h4>
                    <p class="text-center text-muted">Pollo saltado + Chicha</p>
                    <button type="button" class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/productos/lomosaltado.jpg">
                </a>
                <div class="portfolio-caption">
                    <h4>Lomo Saltado</h4>
                    <p class="text-center text-muted">Lomo saltado de cuadril + Chicha</p>
                    <button type="button" class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
        </div>
    </div>
</section>