<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top">
  <div class="container"> 
      <a class="navbar-brand d-flex align-items-center" routerLink="home">
        <span class="ml-3 font-weight-bold">ALITASKENTAI</span>
      </a>
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav mr-auto pl-lg-4">
        <li class="nav-item px-lg-2 active"> 
          <a class="nav-link" routerLink="home">
          <span class="d-inline-block d-lg-none icon-width"><i class="fas fa-home"></i></span>Inicio
          </a>
        </li>
        <li class="nav-item px-lg-2"> 
          <a class="nav-link" routerLink="listadoCategoria">
            <span class="d-inline-block d-lg-none icon-width"><i class="fas fa-spa"></i></span>Productos
          </a>
        </li>
        <li class="nav-item px-lg-2"> 
          <a class="nav-link" routerLink="local">
            <span class="d-inline-block d-lg-none icon-width"><i class="far fa-user"></i></span>Locales
          </a>
        </li>
        <li class="nav-item px-lg-2"> 
          <a class="nav-link" routerLink="contacto">
            <span class="d-inline-block d-lg-none icon-width"><i class="far fa-user"></i></span>Contacto
          </a>
        </li>
        <li class="nav-item px-lg-2"> 
          <a class="nav-link" routerLink="listaPedido">
            <span class="d-inline-block d-lg-none icon-width"><i class="fas fa-spa"></i></span>Gestion Pedidos
          </a>
        </li>
        <li class="nav-item px-lg-2"> 
          <a class="nav-link" routerLink="adminProducto">
            <span class="d-inline-block d-lg-none icon-width"><i class="fas fa-spa"></i></span>Gestion Productos
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user-circle-o fa-lg"></i><span> Ingreso</span></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="pedidocliente">Ver Pedidos</a></li>
          </ul>
        </li>
        <li class="nav-item px-lg-2"> 
          <a class="nav-link" routerLink="clienteCarrito">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section style="min-height: 570px; padding-top: 0px; padding-bottom: 0px; margin-top: 60px;">
    <router-outlet></router-outlet>
</section>