<div class="container">
    <div class="row text-center border-bottom">
        <div class="col-1">N°</div>
        <div class="col-6">Pedido</div>
        <div class="col-3">Importe</div>
        <div class="col-2">Estado</div>
    </div>
    <div class="row border-bottom" >
        <div class="col-1 text-center">1</div>
        <div class="col-2"><img src="assets/img/promos/promo1.jpg" width="180px" height="100px" /></div>
        <div class="col-4">
            <span><strong>Oferta 1</strong> </span>
            <p>1/2 Pollo con ensalada, papas fritas y gaseos</p>
        </div>
        <div class="col-3 text-center">S/ 23.23</div>
        <div class="col-2 text-center">Entregado</div>
    </div>
    <div class="row border-bottom" >
        <div class="col-1 text-center">2</div>
        <div class="col-2"><img src="assets/img/promos/promo1.jpg" width="180px" height="100px" /></div>
        <div class="col-4">
            <span><strong>Oferta 1</strong> </span>
            <p>1/2 Pollo con ensalada, papas fritas y gaseos</p>
        </div>
        <div class="col-3 text-center">S/ 23.23</div>
        <div class="col-2 text-center">Entregado</div>
    </div>
    <div class="row border-bottom" >
        <div class="col-1 text-center">3</div>
        <div class="col-2"><img src="assets/img/promos/promo1.jpg" width="180px" height="100px" /></div>
        <div class="col-4">
            <span><strong>Oferta 1</strong> </span>
            <p>1/2 Pollo con ensalada, papas fritas y gaseos</p>
        </div>
        <div class="col-3 text-center">S/ 23.23</div>
        <div class="col-2 text-center">Entregado</div>
    </div>
</div>
