<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Nuestros productos</h2>
            </div>
        </div>
        <div *ngIf="productos[0] != null" class="row">
            <div *ngFor="let p of productos" class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/detalleProducto/{{p.Codigo}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ p.Imagen }}">
                </a>
                <div class="portfolio-caption">
                    <h6 class="text-center text-muted">{{ p.Nombre }}</h6>
                    <h6 class="text-center text-muted">S/ {{ p.Precio }}</h6>
                    <button type="button" class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
        </div>
    </div>
</section> 