<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Nuestros Categorías</h2>
            </div>
        </div>
        <div *ngIf="categorias[0] != null" class="row">
            <div *ngFor="let c of categorias" class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/listaProducto/{{c.idCategoria}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ c.imagen }}">
                    <div class="portfolio-caption">
                        <h6 class="text-center text-muted">{{ c.categoria }}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> 