<section class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Contáctenos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="assets/img/mapa.jpg" height="400px"/>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img src="assets/img/logo.jpg" height="300px"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <label>Direccion: Av. Canada 123</label>
                        </div>
                        <div class="row">
                            <label>Telefono: 999-999-999</label>
                        </div>
                        <div class="row">
                            <label>Correo: contactos@alitaskentaki.com.pe</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>